*{
margin: 0;
padding: 0;

}

#container {

    position: fixed; 
  top: 0; 
  left: 0; 

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  background-color: black;
}


.title {
  width: 850px;
  height: 750px;
  background-color: pink;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid black;
  position: relative;
  top: 50px;
  display: flex;
 
}
.second-cont{
  float: left;
margin: 10px ;
padding:20px;
position: relative;
bottom: 620px;
left: 570px;

}

#row1 img{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  padding:10px;
  border: 3px solid black;
  background-color: #600a0a;


}

#row2 img{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  padding:10px;
  border: 3px solid black;
  background-color: #34b9de;


}
#row3 img{
  margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding:10px;
    border: 3px solid black;
    background-color: #600a0a;


}
#row4 img{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  padding:10px;
  border: 3px solid black;
  background-color: #34b9de;

}

.title img{

  position: relative;
 left:190px;
 top: 50px;
}

.title h1{
  text-align: center;
  position: relative;
 left:190px;
 top: 50px;
}
